body {
    margin: 0;
    align-items: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 120px;
    background-image: linear-gradient( #071E3D, #071E3D, #071E3D, rgba(255, 255, 0, 0));
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}
/*please i beg*/
a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover{
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

.logo img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 9%;
    top: 40%;
}

.logo {
    width: auto;
    height: auto;
}

.links {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

#home {
    display: flex;
    width: 99.%;
    height: 700px;
    background-image: linear-gradient(#083066,#071E3D);
    justify-content: space-evenly;
    align-items: center;
    border-color: aqua;
    border-width: 3px;
    border-style: ridge;
}

#about {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("/images and icons/yes.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#Services {
    padding-top: 50px;
    display: flex;
    width: 100%;
    height: 800px;
    background-color: #03142a;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#Contacts {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
    height: auto;
    background-image: linear-gradient( #071E3D, #083066);
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
}

#home .content{
    backdrop-filter: blur(5px);
}

#home h1{
    color: white;
}

span {
    color: #21E6C1;
}

.pictureholder {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    overflow: hidden;
}

.pictureholder img {
    scale: 0.75;
    width: 325px;
    height: 629px;
    border-radius: 50%;
    box-shadow: 7px 9px 42px 17px #21E6C1;
    -webkit-box-shadow: 7px 9px 42px 17px #21E6C1;
    -moz-box-shadow: 7px 9px 42px 17px #21E6C1  ;
}

#home p {
	color: #F9F8F4;
	font-size: 20px;
}	

#home h1 {
    font-size: 45px;
}

#About .content{
    padding: 1% 1% 1% 1%;
    background-color: #083066;
    border-radius: 1%;
    box-shadow: 8px 6px 47px 32px rgba(0,0,0,0.49) inset;
    -webkit-box-shadow: 8px 6px 47px 32px rgba(0,0,0,0.49) inset;
    -moz-box-shadow: 8px 6px 47px 32px rgba(0,0,0,0.49) inset;
}

.about {
    height: auto;
    width: 450px;
    color: white;
}

.about h2{
    font-size: 75px;
}

.about p{
    font-size: 18px;
}

#Services .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
}

#Services .title {
    font-size: 30px;
    text-align: center;
    width: 100%;
    color: white;
}

#Services .expand {
    position: relative;
    width: 100%;
    height: 190px;
    background-color: aqua;
    z-index: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 55px 10px 126px 11px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 55px 10px 126px 11px rgba(0,0,0,1) inset;
    -moz-box-shadow: 55px 10px 126px 11px rgba(0,0,0,1) inset;
    color: #21E6C1;
    font-size: 45px;
}

.expand.a {
    background-image: url("/images and icons/webdesign.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.expand.b {
    background-image: url("/images and icons/gamedev.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.expand.c {
    background-image: url("/images and icons/programmer.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.expand h1{
    font-size: 35px;
    margin-top: 60px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.cover {
    text-align: center;
    font-size: 15px;
    color: white;
    position: absolute;
    left: -95%;
    width: 100%;
    height: auto;
    background-color: #03142a;
    transition: left 0.45s ease-in-out, transform 0.45s ease-in-out, height 0.35s ease-in-out;
    transform: skewX(-20deg);
    z-index: 1;
    box-shadow: -34px -15px 105px -2px rgba(0,0,0,0.62) inset;
    -webkit-box-shadow: -34px -15px 105px -2px rgba(0,0,0,0.62) inset;
    -moz-box-shadow: -34px -15px 105px -2px rgba(0,0,0,0.62) inset;
    padding-top: 30px;
}


.expand:hover .cover{
    left: 3%;
    width: 95%;
    height: auto;
    transform: skewX(10deg);
}

footer {
    background-image: linear-gradient( #083066, #071E3D);
    margin: 0;
    align-items: center;
    overflow-x: hidden;
    color: aqua;
}

footer p {
    width: 100%;
    text-align: center;
}



@media screen and (max-width:1000px) {
    #home {
        background-color: blue;
        flex-wrap: wrap;
        height: auto;
    }
}

@media screen and (max-width:960px) {
    #home {
        padding-top: 100px;
    }
    .pictureholder img {
        width: 260px;
        height: 503.2px;
    }
}

@media screen and (max-width:700px) {
    #home {
        padding-top: 0px;
        background-color: rgb(18, 16, 166);
        height: 700px;
    }
    #home .content{
        width: 85%;
    }
    #home .content h1{
        font-size: 35px;
    }
    #home .content p{
        font-size: 15px;
    }
    .pictureholder img {
        display: none;
    }

    .imgholder {
        display: none;
    }

}
